# Exploring the food price global database

## Load the libraries and the csv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

In [4]:
!ls

adrian_food_global_pricing.ipynb  adrian_nutrients.ipynb

In [8]:
price_df = pd.read_csv('../raw_data/wfp_food_prices_database.csv')
price_df.head()

/home/drifter/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0,NaN

In [9]:
price_df.shape

(1560551, 18)

In [10]:
price_df.columns

Index(['adm0_id', 'adm0_name', 'adm1_id', 'adm1_name', 'mkt_id', 'mkt_name',
       'cm_id', 'cm_name', 'cur_id', 'cur_name', 'pt_id', 'pt_name', 'um_id',
       'um_name', 'mp_month', 'mp_year', 'mp_price', 'mp_commoditysource'],
      dtype='object')

In [24]:
price_df['cm_name'].nunique()

777

In [31]:
price_df['cm_name'].sort_values().unique()[-50]

'Wage (non-qualified labour) - Retail'

In [27]:
price_df.isnull().sum()/len(price_df)

adm0_id               0.000000
adm0_name             0.000000
adm1_id               0.000000
adm1_name             0.302027
mkt_id                0.000000
mkt_name              0.000000
cm_id                 0.000000
cm_name               0.000000
cur_id                0.000000
cur_name              0.000000
pt_id                 0.000000
pt_name               0.000000
um_id                 0.000000
um_name               0.000000
mp_month              0.000000
mp_year               0.000000
mp_price              0.000000
mp_commoditysource    1.000000
dtype: float64

In [28]:
#dropping the mp_commoditysource because it's 100% Nan's

#price_df.drop(columns='mp_commoditysource', inplace=True)

In [30]:
price_df['adm1_name'].sort_values().unique()

array(['Abia', 'Abim', 'Abyan', 'Adamaoua', 'Adamawa', 'Addis Ababa',
       'Aden', 'Adrar', 'Afar', 'Agadez', 'Akmolinskaya', 'Al Bayda',
       "Al Dhale'e", 'Al Hudaydah', 'Al Jawf', 'Al Khalil (Hebron)',
       'Al Maharah', 'Al Mahwit', 'Al_Qunaytirah', 'Alaotra Mangoro',
       'Aleppo', 'Alger', 'Ali Sabieh', 'Alibori', 'Almaty City area',
       'Altay Rep.', 'Amanat Al Asimah', 'Amhara', 'Amoron I Mania',
       'Amran', 'Amudat', 'An Giang', 'Analamanga', 'Analanjirofo',
       'Androy', 'Anosy', 'Antioquia', 'Ariha (Jericho)', 'Artibonite',
       'Arusha', 'As_Suweida', 'Ashanti', 'Assaba', 'Atakora',
       'Atlantico', 'Atlantique', 'Atsimo Andrefana', 'Atsimo Atsinanana',
       'Atsinanana', 'Attapu',
       'Autonomous region in Muslim Mindanao (ARMM)', 'Awdal', 'Azuay',
       'Badakhshan', 'Badghis', 'Bafata', 'Baghlan', 'Bakool', 'Balkh',
       'Balochistan', 'Bamako', 'Bamingui-Bangoran', 'Bamyan', 'Banadir',
       'Bandundu', 'Bangkok', 'Bangui', 'Banteay Meanchey', 'Bari',
       'Barisal', 'Bas-Congo', 'Battambang', 'Baucau', 'Bay',
       "Bayan-O'lgii", 'Beneshangul Gumu', 'Beni', 'Berea', 'Bethlehem',
       'Betsiboka', 'Biombo', 'Blue Nile', 'Bobonaro', 'Boeny', 'Boke',
       'Bokeo', 'Bolama', 'Bolikhamxai', 'Bolivar', 'Bomi', 'Bong',
       'Borgou', 'Borno', 'Boucle Du Mouhoun', 'Bouenza', 'Boyaca',
       'Brakna', 'Brazzaville', 'Brong Ahafo', 'Bubanza',
       'Buenos Aires D.f.', 'Bujumbura Mairie', 'Bujumbura Rural',
       'Bulawayo', 'Bururi', 'Busia', 'Butha Buthe', 'Cacheu', 'Caldas',
       'Cankuzo', 'Caprivi', 'Caqueta', 'Cascades', 'Cauca', 'Central',
       'Central Region', 'Central River', 'Centre', 'Centre-est',
       'Centre-nord', 'Centre-ouest', 'Centre-sud', 'Cesar', 'Champasak',
       'Chimborazo', 'Chin', 'Chisinau', 'Chittagong', 'Chuquisaca',
       'Chuvashiya Rep.', 'Cibitoke', 'City_Damascus', 'Coast',
       'Cochabamba', 'Collines', 'Comoe', 'Conakry', 'Copperbelt',
       'Cordillera Administrative region (CAR)', 'Cordoba', 'Couffo',
       'Cundinamarca', 'Cuvette', 'Dakar', 'Dakhlet-Nouadhibou',
       'Damascus', 'Dar-es-salaam', 'Dara', 'Daykundi', 'Dayr_Az_Zor',
       'Denguele', 'Dhaka', 'Dhamar', 'Diana', 'Diffa', 'Dikhil', 'Dili',
       'Diourbel', 'Dire Dawa', 'Distrito Federal', 'Djibouti', 'Dodoma',
       'Dong Thap', 'Donga', 'Dornod', 'Dosso', 'East/Iburasirazuba',
       'Eastern', 'Equateur', 'Erongo', 'Est', 'Estuaire',
       'Extreme - Nord', 'Far Western', 'Farah', 'Faranah', 'Faryab',
       'Fatick', 'Gabu', 'Galgaduud', 'Gambela', 'Gao', 'Gauteng', 'Gaza',
       'Gbarpolu', 'Gedaref', 'Gedo', 'Geita', 'Ghazni', 'Ghor', 'Gitega',
       'Gombe', 'Gorgol', 'Grand Bassa', 'Grand Cape Mount',
       'Grand Gedeh', 'Grand Kru', 'Grande Anse', 'Greater Accra',
       'Guayas', 'Guidimakha', 'Gulu', 'Hadramaut', 'Hajjah', 'Hama',
       'Harare', 'Hardap', 'Hareri', 'Hassakeh', 'Haut-Mbomou',
       'Haute Matsiatra', 'Haute-Kotto', 'Hauts-bassins', 'Hebei Sheng',
       'Heilongjiang Sheng', 'Henan Sheng', 'Hilmand', 'Hiraan', 'Hirat',
       'Hodh Ech Chargi', 'Hodh El Gharbi', 'Homs', 'Houaphan',
       'Hubei Sheng', 'Huila', 'Ibb', 'Idleb', 'Iganga', 'Ihorombe',
       'Iringa', 'Jabalya', 'Jalisco', 'Jawzjan', 'Jenin',
       'Jiangxi Sheng', 'Jigawa', 'Jilin Sheng', 'Jinja', 'Juba Dhexe',
       'Juba Hoose', 'Kaabong', 'Kabale', 'Kabul', 'Kachin', 'Kaduna',
       'Kaffrine', 'Kagera', 'Kampala', 'Kampong Cham', 'Kampong Chhnang',
       'Kampong Speu', 'Kampong Thom', 'Kampot', 'Kandahar', 'Kandal',
       'Kanifing Municipal Council', 'Kankan', 'Kano', 'Kaolack',
       'Kapisa', 'Kara', 'Karas', 'Karuzi', 'Kasai Occidental',
       'Kasai Oriental', 'Kassala', 'Katanga', 'Katavi', 'Katsina',
       'Kayanza', 'Kayar', 'Kayes', 'Kayin', 'Kebbi', 'Kedougou', 'Kep',
       'Khammouan', 'Khartoum', 'Khomas', 'Khost', 'Khulna',
       'Khyber Pakhtunkhwa', 'Kidal', 'Kigali City/Umujyi wa Kigali',
       'Kigoma', 'Kilimanjaro', 'Kindia', 'Kinshasa', 'Kirundo',
       'Koh Kong', 'Kolda', 'Kotido', 'Koulikoro', 'Kratie', 'Kunar',
       'Kunduz', 'Kustanayskaya', 'Kween', 'Kyankwanzi', 'Kémo', 'La Paz',
       'Labe', 'Laghman', 'Lagos', 'Lahj', 'Lattakia', 'Lekoumou',
       'Leribe', 'Likouala', 'Lima', 'Lindi', 'Lipetskaya Oblast', 'Lira',
       'Littoral', 'Lobaye', 'Lofa', 'Logar', 'Louang-Namtha',
       'Louangphabang', 'Louga', 'Lower River', 'Luanda', 'Luapula',
       'Lunda Norte', 'Lusaka', 'Maekel', 'Mafeteng', 'Magdalena',
       'Magway', 'Makamba', 'Mambéré-Kadéï', 'Mamou', 'Manabi',
       'Mangistauskaya', 'Manicaland', 'Maniema', 'Manyara', 'Mara',
       'Maradi', 'Margibi', 'Marib', 'Maritime', 'Maryland', 'Maseru',
       'Mashonaland Central', 'Mashonaland East', 'Mashonaland West',
       'Masindi', 'Masvingo', 'Matabeleland North', 'Matabeleland South',
       'Matam', 'Mbale', 'Mbarara', 'Mbeya', 'Mbomou', 'Melaky', 'Menabe',
       'Meta', 'Mid Western', 'Midlands', 'Minsk City', "Mohale's Hoek",
       'Mokhotlong', 'Mon', 'Mondul Kiri', 'Mono', 'Montagnes',
       'Montserrado', 'Mopti', 'Morogoro', 'Moskva', 'Mtwara', 'Mudug',
       'Muramvya', 'Muyinga', 'Mwanza', 'Mwaro', 'Nablus', 'Nairobi',
       'Nakapiripirit', 'Nana-Gribizi', 'Nana-Mambéré', 'Nangarhar',
       'Narino', 'National Capital region (NCR)', 'Ngozi', 'Niamey',
       'Nimba', 'Nimroz', 'Njombe', 'Nord', 'Nord - Ouest', 'Nord Est',
       'Nord Ouest', 'Nord-Kivu', 'Norte De Santander', 'North Bank',
       'North Darfur', 'North Eastern', 'North Kordofan', 'North-Western',
       'North/Amajyaruguru', 'Northern', 'Northern Region', 'Nouakchott',
       'Nugaal', 'Nuristan', 'Nyanza', 'Nzerekore', "O'vorxangai",
       'Obock', 'Oecussi', 'Oio', 'Omaheke', "Ombella M'Poko", 'Oosaka',
       'Orientale', 'Oromia', 'Oruro', 'Oshana', 'Otdar Meanchey',
       'Otjozondjupa', 'Ouaka', 'Oudomxai', 'Oueme', 'Ouest', 'Ouham',
       'Ouham Pendé', 'Oyo', 'Pailin', 'Paktika', 'Paktya', 'Pando',
       'Panjsher', 'Parwan', 'Phnom Penh', 'Phongsali', 'Pichincha',
       'Plateau', 'Plateau Central', 'Plateaux', 'Point-Noire', 'Pool',
       'Potosi', 'Preah Sihanouk', 'Preah Vihear', 'Prey Veng', 'Puebla',
       'Punjab', 'Pursat', "Qacha's Nek", 'Qalqiliya', 'Quinara',
       'Quindio', 'Quthing', 'Rafah', 'Rajshahi', 'Rakhine', 'Ramallah',
       'Rangpur', 'Raqqa', 'Ratanak Kiri', 'Raymah', 'Red Sea',
       'Region I (Ilocos region)', 'Region II (Cagayan Valley)',
       'Region III (Central Luzon)', 'Region IV (Southern Tagalog)',
       'Region IV-A (Calabarzon)', 'Region IX (Zamboanga Peninsula)',
       'Region V (Bicol region)', 'Region VI (Western Visayas)',
       'Region VII (Central Visayas)', 'Region VIII (Eastern Visayas)',
       'Region X (Northern Mindanao)', 'Region XI (Davao Region)',
       'Region XII (Soccsksargen)', 'Region XIII (Caraga)', 'Rift Valley',
       'Risaralda', 'River Gee', 'Rivercess', 'Rostovskaya Oblast',
       'Rukwa', 'Rutana', 'Ruvuma', 'Ruyigi', 'SNNPR', "Sa'ada",
       'Sagaing', 'Sahel', 'Saint louis', 'Salavan', 'Samangan', "Sana'a",
       'Sanaag', 'Sangha-Mbaéré', 'Sankt-peterburg', 'Santa Cruz',
       'Santa Fe', 'Santander', 'Santiago', 'Santo Antao', 'Sao Vicente',
       'Sar-e-Pul', 'Savanes', 'Savannakhet', 'Sector Autonomo De Bissau',
       'Sedhiou', 'Segou', 'Selenge', 'Semenawi Keih Bahri',
       'Shabelle Dhexe', 'Shabelle Hoose', 'Shabwah', 'Shan (E)',
       'Shan (N)', 'Shan (S)', 'Shandong Sheng', 'Shanxi Sheng',
       'Shinyanga', 'Siem Reap', 'Sikasso', 'Sinaloa', 'Sindh', 'Singida',
       'Sinoe', 'Sofia', 'Sokoto', 'Somali', 'Sool', 'Soroti',
       'South Darfur', 'South Kordofan', 'South/Amajyepfo', 'Southern',
       'Southern Region', 'Stung Treng', 'Sucre', 'Sud', 'Sud Est',
       'Sud-Kivu', 'Sud-ouest', 'Svay Rieng', 'Sverdlovskaya Oblast',
       'Sylhet', 'Tabora', 'Tadjourah', 'Tagant', 'Tahoua', 'Taizz',
       'Takeo', 'Takhar', 'Tambacounda', 'Tanga', 'Taninthayi', 'Tarija',
       'Tartous', 'Tatarstan Rep.', 'Tbilisi', 'Tehran', 'Thaba Tseka',
       'Thies', 'Tighina', 'Tigray', 'Tillaberi', 'Tindouf',
       'Tiris-Zemmour', 'Togdheer', 'Toliara', 'Tolima', 'Tombali',
       'Tombouctou', 'Tookyoo', 'Trarza', 'Tulkarm', 'Tungurahua',
       'Ulaanbaatar', 'Upper East', 'Upper River', 'Upper West',
       'Uruzgan', 'Vakaga', 'Vakinankaratra', 'Valle Del Cauca',
       'Vallee Du Bandama', 'Vatovavy Fitovinany', 'Veracruz',
       'Vientiane', 'Vientiane capital', 'Volta', 'Wardak', 'West Coast',
       'West Darfur', 'West Kordofan', 'West/Iburengerazuba', 'Western',
       'Western Area', 'White Nile', 'Woqooyi Galbeed', 'Xaignabouli',
       'Xekong', 'Xiangkhouang', 'Yamoussoukro', 'Yangon', 'Yobe',
       'Zabul', 'Zamfara', 'Zhejiang Sheng', 'Ziguinchor', 'Zinder',
       'Zou', nan], dtype=object)

In [33]:
freq_imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [34]:
price_df.dropna(subset=['adm1_name'], inplace=True)

In [35]:
price_df.isnull().sum()/len(price_df)

adm0_id      0.0
adm0_name    0.0
adm1_id      0.0
adm1_name    0.0
mkt_id       0.0
mkt_name     0.0
cm_id        0.0
cm_name      0.0
cur_id       0.0
cur_name     0.0
pt_id        0.0
pt_name      0.0
um_id        0.0
um_name      0.0
mp_month     0.0
mp_year      0.0
mp_price     0.0
dtype: float64

In [45]:
#trying the format to pick the type of food
price_df['cm_name'][0].split(' ')[0]

'Bread'

In [48]:
price_df.head()

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0

In [50]:
price_df['type'] = price_df['cm_name'].apply(lambda x: x.split(' ')[0])
price_df['type'].head()

0    Bread
1    Bread
2    Bread
3    Bread
4    Bread
Name: type, dtype: object

In [51]:
price_df['type'].unique()

array(['Bread', 'Wheat', 'Rice', 'Wage', 'Livestock', 'Fuel', 'Exchange',
       'Oil', 'Sugar', 'Pulses', 'Salt', 'Beans', 'Milk', 'Potatoes',
       'Eggs', 'Meat', 'Lentils', 'Pasta', 'Tomatoes', 'Cheese',
       'Carrots', 'Onions', 'Bananas', 'Tea', 'Fish', 'Apples', 'Oranges',
       'Cassava', 'Maize', 'Sorghum', 'Millet', 'Sweet', 'Yam',
       'Plantains', 'Cabbage', 'Soybeans', 'Lemons', 'Papaya', 'Okra',
       'Groundnuts', 'Peppers', 'Coconut', 'Leafy', 'Peas', 'Shrimps',
       'Taro', 'Snail', 'Noodles', 'Quinoa', 'Avocados', 'Eggplants',
       'Snake', 'Water', 'Wax', 'Prawn', 'Sesame', 'Squashes', 'Charcoal',
       'Laundry', 'Chicken', 'Garlic', 'Cocoa', 'Coffee', 'Chickpeas',
       'Cauliflower', 'Cucumbers', 'Beetroots', 'Spinach', 'Blackberry',
       'Broccoli', 'Mangoes', 'Pumpkin', 'Passion', 'Guava', 'Barley',
       'Cashew', 'Cornstarch', 'Peanut', 'Cotton', 'Transport', 'Cowpeas',
       'Lettuce', 'Pineapples', 'Watermelons', 'Oat', 'Strawberries',
       'Melons', 'Naranjilla', 'Tree', 'Grapes', 'Teff', 'Lin', 'Niger',
       'Rape', 'Butter', 'Kale', 'Honey', 'Corn', 'Kocho', 'Fonio',
       'Dates', 'Yogurt', 'Gari', 'Chili', 'Handwash', 'Firewood',
       'Candles', 'Batteries', 'Radish', 'Cane', 'Bitterball', 'Pigeon',
       'Couscous', 'Semolina', 'Feed', 'Straw', 'Tortilla', 'Ghee',
       'Poultry', 'Beans(mash)', 'Zucchini', 'Potato', 'Labaneh',
       'Bulgur', 'Parsley', 'Yeast', 'Diapers', 'Dishwashing', 'Sanitary',
       'Toothpaste', 'Multipurpose', 'Milling'], dtype=object)

In [52]:
price_df['mp_year'].unique()

array([2014, 2015, 2016, 2017, 2018, 2019, 2020, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2000, 2001, 2002, 1998,
       1999, 1992, 1993, 1994, 1995, 1996, 1997, 1990, 1991])

In [ ]:
import requests